<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>File Metadata Microservice</title>
</head>

<body>
    <main>
        <div>
            <h2>File Metadata Microservice</h2>
            <h3>Usage:</h3>
            <p>
                Please Upload a File ...
            </p>
            <div class="view">
                <h4 id="output"></h4>
                <form enctype="multipart/form-data" method="POST" action="file-metadata-microservice/api/fileanalyse">
                    <input id="inputfield" type="file" name="upfile">
                    <input id="button" type="submit" value="Upload">
                </form>
            </div>
        </div>
        <div>
            <p>
                by
                <a href="http://github.com/lesleytech">Lafen Lesley</a>
            </p>
        </div>
    </main>
</body>

</html>