<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>API and Microservices</title>
</head>

<body>
    <main>
        <h1>API and Microservices Projects</h1>
        <ul>
            <li><a href="/timestamp-microservice">Timestamp Microservice</a></li>
            <li><a href="/request-header-parser-microservice">Request Header Parser Microservice</a></li>
            <li><a href="/url-shortener-microservice">URL Shortener Microservice</a></li>
            <li><a href="/exercise-tracker">Exercise Tracker</a></li>
            <li><a href="/file-metadata-microservice">File Metadata Microservice</a></li>
        </ul>
    </main>
</body>

</html>