<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Timestamp Microservice</title>
</head>

<body>
    <main>
        <h2>Timestamp Microservice</h2>
        <hr />
        <div>
            <h3>Example Usage:</h3>
            <ul>
                <li>
                    <a href="timestamp-microservice/api/timestamp/2015-12-25">[project url]/api/timestamp/2015-12-25</a>
                </li>
                <li>
                    <a href="timestamp-microservice/api/timestamp/1451001600000">[project
                        url]/api/timestamp/1451001600000</a>
                </li>
            </ul>

            <h3>Example Output:</h3>
            <p>
                <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
            </p>
        </div>
        <div>
            <p>
                by <a href="https://github.com/lesleytech/" target="_blank">Lafen Lesley</a>
            </p>
        </div>
</body>
</main>
</body>

</html>