body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background: #181a1b;
    color: #e8e6e3;
    display: flex;
}

code {
    font-family: monospace;
}

* {
    box-sizing: border-box;
}

a {
    color: #5faadc;
}

main {
    width: 90%;
    max-width: 1024px;
    margin: auto;
    background: #1b1d1e;
    padding: 15px;
    margin-top: 15px;
}

ul {
    margin: 0 auto;
}

li {
    margin: 10px 0;
}